.App {
  text-align: center;
}

.Pokecard {
  background-color: white;
  border-radius: 5px;
  width: 250px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

.Pokecard img {
  transition: all ease 500ms;
}

.Pokecard img:hover {
  transform: scale(1.2);
  opacity: 0.7;
  cursor: pointer;
}

.Pokedex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Pokedex-winner {
  color: #4caf50;
}

.Pokedex-loser {
  color: #e91e63;
}

